extends layout

block content


    .jumbotron.jumbotron-fluid
        h1.display-3 Selected Requirements
        .row.vertical-align
            div.col-lg-5.col-md-5
                select.form-control.custom-select#selectSerDefName(name='selectSerDefName')
                    for serviceDefinition in serviceDefinitions
                        option(value='#{serviceDefinition.type}' data-id='#{serviceDefinition.id}') #{serviceDefinition.name}
            div.col-lg-5.col-md-5
                .type-boolean-input
                .type-range-input
                .type-class-input
            div.col-lg-2.col-md-2
                button.btn.btn-primary.btn-lg.btn-block.invisible.center-block#submitButton(type='button') Submit
            table.table
                thead
                    tr
                        th Name
                        th Values
                tbody#requirements
    .container
        include technologies




