extends layout

block content

    .container
        include technologies
        .row
            .jumbotron.jumbotron-fluid
                .container
                    h1.display-3 Selected Requirements
                    div.col-lg-6
                        select.form-control.custom-select#selectSerDefName(name='selectSerDefName')
                            for serviceDefinition in serviceDefinitions
                                option(value='#{serviceDefinition.type}' data-id='#{serviceDefinition.id}') #{serviceDefinition.name}
                    div.col-lg-6
                        .type-boolean-input
                        .type-range-input
                        .type-class-input
                    button.btn.btn-primary.btn-lg.btn-block.invisible#submitButton(type='button') Submit
                    table.table
                        thead
                            tr
                                th Name
                                th Values
                        tbody#requirements




