body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header img {
    padding-top: 50px;
    max-width: 1024px;
    max-height: 100%;
    height: inherit !important;
    display:block;
    margin:auto;
}

#technologies{
    margin-left: auto;
    margin-right: auto;
}

footer img {
    margin: 50px auto auto;
    max-width: 1024px;
    max-height: 100%;
    height: inherit !important;
    display:block;
    border-top: 2px solid darkgray;
}




select{
  margin-top : 20px !important;
}

.input-group{
  margin-top : 20px !important;
  margin-right :  20px !important;
}

#submitButton{
  margin-top : 20px !important;
  max-width : 50%;
  min-width : 100px;
}

.jumbotron{
  padding: 50px !important;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.service-checked{
  color: green;
}

.pull-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
}

.green{
  color : green;
}

.light-green-background{
  background-color: rgba(208, 233, 198, 0.3);
}